.habit {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    /* Rounded corners */
    background-color: #f5f5f5;
    /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    transition: transform 0.2s, background-color 0.2s;
    /* Smooth transition for transform and background color */
    cursor: pointer;
    /* Cursor changes to pointer on hover */
}

.habit:hover {
    background-color: #e0e0e0;
    /* Slightly darker background on hover */
}

.habit:active {
    transform: scale(0.95);
    /* Scale down on click */
    background-color: #d0d0d0;
    /* Even darker background on click */
}

.habitCount {
    /* Larger font size */
    font-size: 1.5em;
    /* Bold text */;
    font-weight: bold;
    /* Black */
    color: #000000;
}